<div role="tabpanel" class="tab-pane" id="workExperience">
    <div class="row" ng-repeat="workExperienceData in workExperiencesData">
        <span class="{{paginationInfo.leftColumnOffset}} {{paginationInfo.leftColumnSize}}">
            <h1>{{workExperienceData.companyName}}</h1>
            <br/>
        </span>
        <span class="{{paginationInfo.rightColumnSize}}">
            <div class="well" ng-repeat="customer in workExperienceData.customer">
                <h1>{{customer.customerName}}</h1>
                <div ng-repeat="project in customer.projects">
                    <h3>{{project.title}}</h3>
                    <p ng-include="i18nPageContentResolver.pageUrlResolver(project.body)" class="text-justify"></p>
                    <br/>
                    <i>Technologies:</i>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="skill in project.skills">{{skill}}</li>
                    </ul>
                </div>
            </div>
            <br/>
        </span>
    </div>
</div>