<section>
    <div ng-if="!projects">
        <img class="center-block img-responsive" src="dist/asset/images/loading.gif" />
    </div>
    <div ng-if="projects">
        <div class="row top-space-row">
            <div ng-repeat="(key,project) in projects">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="label label-default">project name: {{project.repoName}}</span>
                                <span class="pull-right label label-default">gitHub</span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <img src="{{projectAvatarUrl}}" class="img-rounded img-responsive left-decorator"/>
                            <p class="text-justify">{{project.description}}</p>
                        </div>
                        <div class="panel-footer">
                            <ul class="list-group">
                                <li class="list-group-item">Links: </li>
                                <li class="list-group-item">download this project: <a ng-href="project.downloadRepoUrl">hear</a></li>
                                <li class="list-group-item">clone this project: {{project.cloneUrl}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-space-row">
            <div class="col-md-offset-4 col-lg-offset-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg">
                        <li>
                            <a ng-click="getPage('first')" aria-label="Previous">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="getPage('previous')" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li ng-repeat = "page in totalPages" ng-class="currentPage==$index + 1 ? 'active' : ''">
                            <a ng-click="getPage(page)" aria-label="page">
                                <span aria-hidden="true">{{$index + 1}}</span>
                            </a>
                        </li>

                        <li>
                            <a ng-click="getPage('next')" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="getPage('last')" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>