body{
    background-color: #989898;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 1em 0;
    padding: 0;
}

h1.title ,h2.title ,h3.title ,h4.title ,h5.title ,h6.title {
    text-align: center;
}

div.title {
    text-align: center;
}

a{
    text-decoration: none;
    color:           black;
}
a:hover{
    text-decoration: none;
    color:           black;
}

.bodyContainer {
    background: rgb(247, 247, 247);
}



div.footer {
    background: rgb(247, 247, 247);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    -moz-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius:  10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -o-border-bottom-left-radius:  10px;
    -ms-border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius:  10px;
}

div.menuContainer {
    background: rgb(247, 247, 247);
}

.left-separator{
    border-left: double  #000000 1px;
}

.right-separator{
    border-right: double  #000000 1px;
}

.component-container{margin-top: 5px;}


.embeddedContainer {
    margin-bottom: 10px;
}