body{
    background-color: #414141;
    margin-top: 10px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 4%;
    margin-right: 4%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 1em 0;
    padding: 0;
}

h1.title ,h2.title ,h3.title ,h4.title ,h5.title ,h6.title {
    text-align: center;
}

div.title {
    text-align: center;
}

a{
    text-decoration: none;
    color:           black;
}
a:hover{
    text-decoration: none;
    color:           black;
}

.bodyContainer {
    border: 1px solid black;
    background: rgb(230, 230, 230);
}

div.header {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    background: rgb(196, 228, 220);
}

div.footer {
    border: 1px solid black;
    background: rgb(196, 228, 220);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    -moz-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius:  10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -o-border-bottom-left-radius:  10px;
    -ms-border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius:  10px;
}

div.menuContainer {
    border-top:             1px solid;
    border-left:            1px solid;
    border-right:           1px solid;

    background: rgb(196, 228, 220);
}

.left-separator{
    border-left: double  #000000 1px;
}

.right-separator{
    border-right: double  #000000 1px;
}

.component-container{margin-top: 5px;}


.embeddedContainer {
    margin-bottom: 10px;
}

.bottom-space-row {
    margin-bottom: 10px;
}
.top-space-row {
    margin-top: 10px;
}